<!-- Username & password -->
<!DOCTYPE html>
<html>

<head>
    <title>WrestleBlog</title>
    <!-- Styles Link -->
    <link rel="stylesheet" href="/stylesheets/css/main.css">

    <!-- Icon Library -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>
        <!-- Header with Nav -->
        <header>
            <!-- Collapsed Info in NavBar -->
            <section class="bg-dark collapse" id="navbarHeader">
                <section class="container">
                    <section class="row">
                        <section class="col-sm-8 col-md-7 py-4">
                            <h4 class="text-white">About</h4>

                            <!-- Text about what our blog is about -->
                            <p class="text-muted">
                                Our blog seeks to provide valid information to the user and make sure that you are kept
                                up to date with the latest news, rumours and predictions whether it be from WWE, NJPW,
                                ROH, AEW or Impact Wrestling. You can add or edit our posts. We are a community after
                                all, what kind of community denies its own access to edit or add content. Enjoy our
                                blog.
                            </p>
                        </section>

                        <!-- Contact Us Section -->
                        <section class="col-sm-4 offset-md-1 py-4">
                            <h4 class="text-white">Contact Us</h4>
                            <ul class="list-unstyled">
                                <li><a href="#" class="text-white">Follow us on Twitter</a></li>
                                <li><a href="#" class="text-white">Like us on Facebook</a></li>
                                <li><a href="#" class="text-white">Email us</a></li>
                            </ul>
                        </section>
                    </section>
                </section>
            </section>

            <!-- NavBar with Burger button -->
            <nav class="navbar navbar-dark bg-dark shadow-sm">
                <section class="container d-flex justify-content-between">
                    <a href="#" class="navbar-brand d-flex align-items-center">
                        <strong>WrestleBlog</strong>
                    </a>

                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                        data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </section>
            </nav>
        </header>


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
        <script src="/docs/4.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
            crossorigin="anonymous"></script>
</body>
</html>