// Nav Bar
.nav-list {
    position: absolute;
    right: 10vw;    
}

// Hero Section Styles
.homeCover {
    background: url();
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
}