// Nav Bar
.nav-list {
    position: absolute;
    right: 10vw;    
}

// Hero Section Styles
.hero-home {
    background: url();
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: auto;
}

.title {
    background: #ffffff9c;
    color: #007bff;
    opacity: 1;
    height: 90vh;
    // text-align: -webkit-center;
    padding: 230px 30px;
    // width: 50%;
    // transform: translate(10%, 70%);
}