// Header Styles
.hero-cover {
    background: url(/images/undertaker.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 45%;
}

// Register Page
.register-main {
    background: black;
    padding: 50px;
    height: 93vh;
}